@property --main-dark {
  syntax: "<color>";
  inherits: false;
  initial-value: #0d141c;
}

@property --main-light {
  syntax: "<color>";
  inherits: false;
  initial-value: #f6fbff;
}

@property --text-light {
  syntax: "<color>";
  inherits: false;
  initial-value: #c8d6e8;
}

@property --link-text-light {
  syntax: "<color>";
  inherits: false;
  initial-value: #8ab3e9;
}

@font-face {
  font-family: "Abel";
  src: url("./assets/fonts/Abel-Regular.ttf") format("truetype");
}

* {
  line-height: 1.2;
}

body {
  background-color: var(--main-light) !important;
  scroll-behavior: smooth;
}

div,
p {
  font-size: 20px;
}

small {
  font-size: 18px !important;
}

body {
  font-family: "Abel" !important;
}

.navbar {
  -webkit-filter: opacity(97%);
          filter: opacity(97%);
}

.box-shadow {
  -webkit-box-shadow: 0px 0px 15px 5px rgba(18, 20, 22, 0.8);
          box-shadow: 0px 0px 15px 5px rgba(18, 20, 22, 0.8);
}

.img-box-shadow {
  -webkit-box-shadow: 10px 2px 30px 4px rgba(18, 20, 22, 0.4);
          box-shadow: 10px 2px 30px 4px rgba(18, 20, 22, 0.4);
}

.card-box-shadow {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(80, 80, 80, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(80, 80, 80, 0.15);
}

header {
  color: var(--text-light);
  background: var(--main-dark);
}

.landing-page-header {
  padding-top: 17em;

  h1 {
    font-size: 3.5rem !important;
  }
}

.padding-33 {
  padding-top: 33%;
}

.contact-btn {
  background-color: var(--text-light) !important;
  color: var(--main-dark) !important;
}

.headshot-faded-light-backdrop {
  background: -o-radial-gradient(bottom, ellipse, rgba(246, 251, 255, 0.4), #0d141c 65%);
  background: radial-gradient(ellipse at bottom, rgba(246, 251, 255, 0.4), #0d141c 65%);
}

.content-break1 {
  background: var(--main-dark) url("./assets/images/content-break1-bg.jpg");
  height: 70vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: brightness(0.85);
          filter: brightness(0.85);
}

.content-break2 {
  background: var(--main-dark) url("./assets/images/content-break2-bg.jpg");
  height: 70vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: brightness(0.85);
          filter: brightness(0.85);
}

.card-body {
  min-height: 165px;
}

iframe {
  aspect-ratio: 16 / 9;
  width: 100%;
  height: 100%;
}

textarea {
  resize: none !important;
}

.custom-btn {
  color: var(--text-light) !important;
  background-color: var(--main-dark) !important;
}

div.social-link {
  padding-top: 2px;
  margin: auto;
  height: 32px;
  width: 32px;
  border-radius: 50%;

  a {
    color: var(--main-dark);
  }
}

div.insta:hover {
  background-image: -webkit-gradient(linear, right top, left bottom, from(purple), color-stop(red), to(yellow));
  background-image: -o-linear-gradient(top right, purple, red, yellow);
  background-image: linear-gradient(to bottom left, purple, red, yellow);
}

div.tiktok:hover {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#00f2ea), to(#ff0050));
  background-image: -o-linear-gradient(top left, #00f2ea, #ff0050);
  background-image: linear-gradient(to bottom right, #00f2ea, #ff0050);
}

div.youtube:hover {
  background-color: #FF0000;
}

footer {
  background-color: var(--main-dark);
  color: var(--text-light);
  height: 140px;

  a {
    text-decoration: none;
    color: var(--link-text-light);
  }
}