@import url("../../style.css");

.blog-header {
  padding-top: 4em;
}

#blog-list-container {
  min-height: 100vh;
}

.card {
  cursor: pointer;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;

  .card-header {
    height: 192px;
  }

  .card-body {
    height: 165px;
  }
}

.card:hover {
  -webkit-transform: scale(1.0125);
      -ms-transform: scale(1.0125);
          transform: scale(1.0125);
}

.card:active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-box-shadow: none;
          box-shadow: none;
}

div.card-header {
  background: var(--main-dark);
  color: var(--text-light);
}