@import url("../../style.css");

.blog-header {
  padding-top: 4em;
}

#blog-list-container {
  min-height: 100vh;
}

.card {
  cursor: pointer;
  transition: all .2s;

  .card-header {
    height: 192px;
  }

  .card-body {
    height: 165px;
  }
}

.card:hover {
  transform: scale(1.0125);
}

.card:active {
  transform: scale(1);
  box-shadow: none;
}

div.card-header {
  background: var(--main-dark);
  color: var(--text-light);
}